.Rproj.user
.Rhistory
.RData
.rdx
.Ruserdata
/.quarto/
**/*.quarto_ipynb
/_targets/*
/_manuscript/*
/_site/*
*.html
_freeze/*
index_files/*
docs/*_cache
docs/*_files/*
.images_raw
.claude
.vscode

# big data files
*.shp
*.zip
*.pdf
*.gpgk

# Quarto detritus
*.docx
.vdoc.*
site_libs/*
/.luarc.json
